body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 10px;
    background-color: #f5f5f5;
}

.doanvan {
    width: 60%;
    margin: auto;
}

.muc {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.icon {
    width: 60px;
    height: 60px;
    background-color: #ccc;
    display: flex;
    justify-self: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    margin-right: 15px;
}

.doan {
    text-align: left;
}

h2 {
    font-size: 18px;
    margin: 0;
}

p {
    font-size: 14px;
    color: gray;
    margin: 5px 0 0;
}