h2 {
    color: red;
    text-align: center;
}

.bondongdau {
    font-size: 14px;
    background-color: blue;
    color: white;
    margin-top: -10px;
}

.bondongcuoi {
    font-size: 14px;
    background-color: brown;
    color: yellow;
    margin-top: -10px;
}